@charset "utf-8";

.pageTitle {
    text-decoration: underline overline;
    text-underline-position: under;
    font-size: 36px;
    line-height: 100px;
}

.projectImgBox {
    width: 70%;
    height: 70%;
    margin: 15%;
}
.projectImg {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}
.infoBox {
    font-size: 24px;
    margin-top: 20%;
}

.fundingBtn {
    border-radius: 5px;
    text-align: center;
    background-color: #ab47bc;
    font-size: 20px;
    color: white;
    height: 40px;
    line-height: 40px;
}

.pageSubTitle {
    text-decoration: underline overline;
    text-underline-position: under;
    font-size: 28px;
}

.explainBox {
    background-color: white;
    color: black;
    font-size: 20px;
}
