@charset "utf-8";

.mainTitle {
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #1976d2;
}
.funding {
    padding: 0;
}
.projectName {
    color: #ab47bc;
    font-weight: 900;
}
.pdate {
    width: 50%;
    margin: 0;
    float: left;
}

#funding01 {
    background: url('../../assets/images/main/sample01.jpg');
}
#funding02 {
    background: url('../../assets/images/main/sample02.jpg');
}
#funding03 {
    background: url('../../assets/images/main/sample03.jpg');
}

.rankingBox {
    padding: 0;
}
.rankingBox p {
    text-align: center;
    padding: 0;
    margin: 0;
}
